MASTER_IP_ADDRESS : 172.24.18.236
MASTER_TCP_PORTNO : 6666
MASTER_UDP_PORTNO : 6665

<BANK1>
	NAME : CITI
	LENGTH	:	4
	CLIENTS	:	1
	CLIENT_RESEND : 10

	REQUEST_INFO : 10, 10, 0.3, 0.3, 0.4, 0.0
	
	HOST_ADDRESS_1 : 172.24.18.236
	TCP_PORT_NUMBER_1 : 5555
	UDP_PORT_NUMBER_1 : 4444
	STARTUP_TIME : 12
	LIFE_TIME : 6

	HOST_ADDRESS_2 : 172.24.18.236
	TCP_PORT_NUMBER_2 : 5556
	UDP_PORT_NUMBER_2 : 4445
	STARTUP_TIME : 12 
	LIFE_TIME : 6

	HOST_ADDRESS_3 : 172.24.18.236
	TCP_PORT_NUMBER_3 : 5557
	UDP_PORT_NUMBER_3 : 4446
	STARTUP_TIME : 12
	LIFE_TIME : 6

	HOST_ADDRESS_4 : 172.24.18.236
	TCP_PORT_NUMBER_4 : 5558
	UDP_PORT_NUMBER_4 : 4447
	STARTUP_TIME : 12 
	LIFE_TIME : 6

</BANK1>

<BANK2>
	NAME : HDFC
	LENGTH	:	4
	CLIENTS	:	6
	CLIENT_RESEND : 5


	REQUEST_INFO: 10, 10, 0.3, 0.3, 0.2, 0.2
	

	HOST_ADDRESS_1 : 172.24.18.236
	TCP_PORT_NUMBER_1 : 5559
	UDP_PORT_NUMBER_1 : 4448
	STARTUP_TIME : 12
	LIFE_TIME : 6

	HOST_ADDRESS_2 : 172.24.18.236
	TCP_PORT_NUMBER_2 : 5560
	UDP_PORT_NUMBER_2 : 4449
	STARTUP_TIME : 12 
	LIFE_TIME : 6

	HOST_ADDRESS_3 : 172.24.18.236
	TCP_PORT_NUMBER_3 : 5561
	UDP_PORT_NUMBER_3 : 4450
	STARTUP_TIME : 12
	LIFE_TIME : 6

	HOST_ADDRESS_4 : 172.24.18.236
	TCP_PORT_NUMBER_4 : 5562
	UDP_PORT_NUMBER_4 : 4451
	STARTUP_TIME : 12 
	LIFE_TIME : 6

</BANK2>