MASTER_IP_ADDRESS : 127.0.0.1
MASTER_TCP_PORTNO : 6666
MASTER_UDP_PORTNO : 6665
MASTER_WAIT_TIME : 2

<BANK>
	NAME : CITI
	LENGTH	:	4
	CLIENTS	:	1
	CLIENT_WAIT_TIME : 5000
	CLIENT_RESEND : 2

	REQUEST_1 : DP, CITI.1.1, 10001, 600
	REQUEST_1 : DP, CITI.1.2, 10001, 100
	REQUEST_1 : DP, CITI.1.3, 10002, 800
	REQUEST_1 : DP, CITI.1.4, 10002, 100
	REQUEST_1 : DP, CITI.1.3, 10001, 100
	REQUEST_1 : DP, CITI.1.4, 10001, 100
	REQUEST_1 : WD, CITI.1.5, 10001, 200
	REQUEST_1 : WD, CITI.1.5, 10002, 400
	REQUEST_1 : GB, CITI.1.7, 10001
	REQUEST_1 : GB, CITI.1.7, 10002
	
	HOST_ADDRESS_1 : 127.0.0.1
	TCP_PORT_NUMBER_1 : 5555
	UDP_PORT_NUMBER_1 : 4444
	STARTUP_TIME : 12
	LIFE_TIME : 26

	HOST_ADDRESS_2 : 127.0.0.1
	TCP_PORT_NUMBER_2 : 5556
	UDP_PORT_NUMBER_2 : 4445
	STARTUP_TIME : 12 
	LIFE_TIME : 3

	HOST_ADDRESS_3 : 127.0.0.1
	TCP_PORT_NUMBER_3 : 5557
	UDP_PORT_NUMBER_3 : 4446
	STARTUP_TIME : 12
	LIFE_TIME : 3

	HOST_ADDRESS_4 : 127.0.0.1
	TCP_PORT_NUMBER_4 : 5558
	UDP_PORT_NUMBER_4 : 4447
	STARTUP_TIME : 12 
	LIFE_TIME : 26

	HOST_ADDRESS_5 : 127.0.0.1
	TCP_PORT_NUMBER_5 : 5559
	UDP_PORT_NUMBER_5 : 4448
	STARTUP_TIME : 12 
	LIFE_TIME : 25

</BANK>