MASTER_IP_ADDRESS : 127.0.0.1
MASTER_UDP_PORTNO : 6665
MASTER_TCP_PORTNO : 3333

<BANK>
	NAME : CITI
	LENGTH	:	3
	CLIENTS	:	2
	CLIENT_WAIT_TIME : 5000
	CLIENT_RESEND : 2
	REQUEST_INFO : 10, 3, 0.2, 0.5, 0.3, 0.0
	
	HOST_ADDRESS_1 : 127.0.0.1
	TCP_PORT_NUMBER_1 : 5555
	UDP_PORT_NUMBER_1 : 4444
	STARTUP_TIME : 12
	LIFE_TIME : 100

	HOST_ADDRESS_2 : 127.0.0.1
	TCP_PORT_NUMBER_2 : 5556
	UDP_PORT_NUMBER_2 : 4445
	STARTUP_TIME : 12 
	LIFE_TIME : 100

	HOST_ADDRESS_3 : 127.0.0.1
	TCP_PORT_NUMBER_3 : 5557
	UDP_PORT_NUMBER_3 : 4446
	STARTUP_TIME : 12
	LIFE_TIME : 100

</BANK>

<BANK>
	NAME : HDFC
	LENGTH	:	4
	CLIENTS	:	6
	CLIENT_WAIT_TIME : 10000
	CLIENT_RESEND : 2
	REQUEST_INFO: 10, 3, 0.3, 0.4, 0.3, 0.0
	

	HOST_ADDRESS_1 : 127.0.0.1
	TCP_PORT_NUMBER_1 : 5559
	UDP_PORT_NUMBER_1 : 4448
	STARTUP_TIME : 12
	LIFE_TIME : 100

	HOST_ADDRESS_2 : 127.0.0.1
	TCP_PORT_NUMBER_2 : 5560
	UDP_PORT_NUMBER_2 : 4449
	STARTUP_TIME : 12 
	LIFE_TIME : 100

	HOST_ADDRESS_3 : 127.0.0.1
	TCP_PORT_NUMBER_3 : 5561
	UDP_PORT_NUMBER_3 : 4450
	STARTUP_TIME : 12
	LIFE_TIME : 100

	HOST_ADDRESS_4 : 127.0.0.1
	TCP_PORT_NUMBER_4 : 5562
	UDP_PORT_NUMBER_4 : 4451
	STARTUP_TIME : 12 
	LIFE_TIME : 100

</BANK>

<BANK>
	NAME : CHASE
	LENGTH	:	4
	CLIENTS	:	2
	CLIENT_WAIT_TIME : 10000
	CLIENT_RESEND : 2
	REQUEST_INFO: 10, 10, 0.3, 0.3, 0.2, 0.2

	HOST_ADDRESS_1 : 127.0.0.1
	TCP_PORT_NUMBER_1 : 5564
	UDP_PORT_NUMBER_1 : 4454
	STARTUP_TIME : 12
	LIFE_TIME : 6

	HOST_ADDRESS_2 : 127.0.0.1
	TCP_PORT_NUMBER_2 : 5565
	UDP_PORT_NUMBER_2 : 4455
	STARTUP_TIME : 12 
	LIFE_TIME : 6

	HOST_ADDRESS_3 : 127.0.0.1
	TCP_PORT_NUMBER_3 : 5566
	UDP_PORT_NUMBER_3 : 4456
	STARTUP_TIME : 12
	LIFE_TIME : 6

	HOST_ADDRESS_4 : 127.0.0.1
	TCP_PORT_NUMBER_4 : 5567
	UDP_PORT_NUMBER_4 : 4457
	STARTUP_TIME : 12 
	LIFE_TIME : 6
</BANK>